@model KoreMvz.Models.Customer;
@{
}
<div>
    <h2>Customer Display</h2>
    <ul>
        <li><h5>CustomerId: @Model.CustomerId</h5></li>
        <li><h5>CustomerName: @Model.CustomerName</h5></li>
        <li><h5>Gender: @Model.Gender</h5></li>
        <li><h5>City: @Model.City</h5></li>
        <li><h5>Contact No: @Model.ContactNo</h5></></li>
    </ul>
</div>